*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cont{
    width: 100%;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.main .logo{
    display: flex;
    align-items: center;
}
.manage{
    margin-top: 50px;
    margin-left: -90px;
}
.logo{
    margin-left: -60px;
}
.main .logo img{
    height: 60px;
    width: 90px;
    margin-left: 20px;
}
.main nav a{
    text-decoration: none;
    margin-left: 20px;
}
.anchor{
    background-color: #2C6682;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.hero{
    background-image: url(/image/Ellipse\ 14.jpg.png);
    background-size: 30%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* border: 3px solid green; */
}
.hero-content{
    width: 50%;
    padding: 20px;
}
.hero-content h2{
    margin-bottom: 20px;
    font-size: 57px;
}
.hero-content p{
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 22px;
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: #2C6682;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.btn img{
    margin-left: 10px;
    margin-bottom: -2px;
}
.grouping{
    width: 50%;
}
.grouping img{
    width: 100%;
}
.service{
    text-align: center;
    margin-bottom: 20px;
}
.container{
    background-color: #04405A;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}
.vault{
    width: 30%;
    /* text-align: center; */
    background-color: #25627E;
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px;
    margin-left: 30px;
}
.vault{
    font-size: 18px;
    color: white;
}
.vault p{
    margin-right: 50px;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 25px;
}
.vault h3{
    margin-top: 20px;
    margin-right: 50px;
    font-size: 20px;
}
.readbtn{
    display: inline-block;
    padding: 15px 30px;
    background-color:#033348 ;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.readbtn img{
    margin-left: 10px;
    margin-bottom: -5px;
}
.about{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    background-color:rgba(255, 255, 255, 0.947) ;
}
.about h3{
    font-size: 20px;
}
 .para{
    width: 80%;
    margin-top: 20px;
    line-height: 1.5;
    font-size: 18.5px;
    margin-left: 10%;
}

.txt {
    text-align: left;
    margin-bottom: 20px;
    
}
.foot{
    background-color: #04405A;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    display: flex;
    color: white;


}
hr{
    border: 1px solid rgba(255, 255, 255, 0.356);
    height: 150px;
}
.para2{
    border: 2px solid white;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 100%;
}
.get{
    display: flex;
    align-items: center;
}
.foot a{
    color: white;
    line-height: 1.5;
}
.foot p{
    line-height: 1.5;
    font-weight: light;
}
.foot h5{
    font-weight: bold;
    margin-top: 6px;
    font-size: 16px;
}