*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cont{
    width: 100%;
}
h2{
    font-family: Poppins;
}
p{
    font-family: Poppins; 
}
h1{
    font-family: Poppins;
}
h3{
    font-family: Poppins;
}
h5{
    font-family: Poppins;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.navs{
    display: none;
}
.back{
    background-image: url(/image/Ellipse\ 14.jpg.png);
    background-repeat: no-repeat;
    background-size: 35%;
}
.ham{
    display: none;
    
}
.main .logo{
    display: flex;
    align-items: center;
}

.logo{
    margin-left: -60px;
    color:#225676 ;
}
.main .logo img{
    height: 60px;
    width: 90px;
    margin-left: 20px;
}
.main nav a{
    text-decoration: none;
    margin-left: 20px;
    color: #134053;
}
button{
    background-color: #2C6682;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-left: 10px;
}
button a{
    color: white;
}
.hero{
    background-size: 30%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.hero-content{
    width: 55%;
    padding: 20px;
    color:#134053;
}
.hero-content h2{
    margin-bottom: 40px;
    font-size: 48px;
}
.hero-content p{
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 17.5px;
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: #2C6682;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.btn img{
    margin-left: 10px;
    margin-bottom: -2px;
}
.groupimg{
    width: 50%;
}
.grouping img{
    width: 100%;
}
.service{
    text-align: center;
    margin-bottom: 20px;
    color: #134053;
}
.container{
    background-color: #04405A;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}
.vault{
    width: 29%;
    background-color: #25627E;
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px;
    margin-left: 30px;
}
.vault{
    font-size: 20px;
    color: white;
}
.vault p{
    margin-right: 50px;
    font-size: 14px;
    line-height: 1.4;
    margin-top: 20px;
}
.vault h3{
    margin-top: 20px;
    margin-right: 50px;
    font-size: 20px;
}
.readbtn{
    display: inline-block;
    padding: 15px 30px;
    background-color:#033348 ;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-family: Poppins;
}
.readbtn img{
    margin-left: 10px;
    margin-bottom: -5px;
}
.about{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    background-color:rgba(255, 255, 255, 0.947) ;
}
.about h3{
    font-size: 20px;
}
 .para{
    width: 85%;
    margin-top: 20px;
    line-height: 1.5;
    font-size: 16px;
    margin-left: 10%;
}
.txt {
    text-align: left;
    margin-bottom: 20px;
    
}
.foot{
    background-color: #04405A;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    display: flex;
    color: white;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.356);
    height: 150px;
}
.para2{
    border: 2px solid white;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 100%;
}
.get{
    display: flex;
    align-items: center;
}
.foot a{
    color: white;
    line-height: 1.5;
}
.foot p{
    line-height: 1.5;
    font-weight: light;
}
.foot h5{
    font-weight: bold;
    margin-top: 6px;
    font-size: 16px;
}
.sub3{
    background-color: #04405A;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    display: flex;
    color: white;
    margin-bottom: 50px;
}
.sub2{
    background-color: #04405A;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    display: flex;
    color: white;
    margin-bottom: 80px;
}
.menu{
    text-align: center;
    background-color: #04405A;
    color: white;
    font-family: Poppins;
    font-size: 16px;
}
@media screen and (max-width:600px) {
    .main{
        display: none;
        
    }
    .cont {
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }
    .navs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
     }
     .navs .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
     }
     .logos img {
        margin-left: 0;
        width: 50px;
     }
     .up{
        font-size: 12px;
        color: #2C6682;
     }
     
     .menus .nav {
        display: none;
     }
     .menus nav li{
        list-style-type: none;
     }
     .menus nav li a {
        text-decoration: none;
        color: #2C6682;
        font-family: Poppins;
     }
     .menus nav li .log {
        display: inline-block;
        padding: 10px 15px;
        color: white;
        background-color: #2C6682;
        border-radius: 10px;
        margin-top: 10px;
     }
     
     .navs .menus:hover .nav{
        display: block;
        flex-direction: column;
        gap: 20px;
        color: #2C6682;
        padding: 10px;
     }
    
    .main .logo{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: -150px;
        padding: 0;
        border: 2px solid red;
    }
    hr{
        display: none;
    }
    .manage{
        margin: 0;
        font-size: 12px;
    }
     .main nav a{
        display: none;
     }
    button{
        display: none;
    }
    .hero{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .hero-content{
        padding: 0;
        width: 100%;
    }
    .hero-content h2{
        font-size: 20px;
    }
    .hero-content p{
        font-size: 10px;
    }
    .btn{
        padding: 8px 12px;
    }
    .groupimg{
        width: 100%;
    }
    .groupimg img{
        width: 100%;
        margin-top: 20px;
    }
    .service{
        font-size: 12px;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .vault{
        width: 100%;
        padding: 10px;
        margin: 0;
        margin-top: 20px;
        
    }
    .vault p{
        font-size: 12px;
    }
    .vault h3{
        font-size: 14px;
    }
    .readbtn{
        width: 100%;
        margin: 0;
        padding: 5px;
        margin-top: 10px;
        border-radius: 5px;
    }
    .readbtn img{
        width: 8%;
        margin-bottom: 0px;
        margin-left: -0.5px;
    }
    .icon5{
        width: 50%;
    }
    .about{
        width: 100%;
    }
    .about h3{
        font-size: 16px;
        
    }
    .para{
        text-align: center;
    }
    .about .para{
        font-size: 14px;
    }
    .txt{
        text-align: left;
        margin-bottom: 20px;
    }
    .foot{
        display: flex;
        flex-direction: column;
    }
    
    .sub3{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: start;
        width: 100%;
    }
    .sub2{
        align-items: start;
        flex-direction: column;
    }
    .connect2{
        margin-left: -40px;
        margin-bottom: 20px;
    }
    .connect4{
        margin-top: 20px;
    }
    .connect6{
        margin-left: -70px;
        margin-bottom: 20px;
    }
    .menu{
        font-size: 10px;
        margin-bottom: 40px;
    }
    .ham{
        display:none;
    }
    .para2{
        font-size: 16px;
        padding: 2px;
    }
    
}
@media only screen and (max-width:768px) {
    .main{
        display: none;
        
    }
    .cont {
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }
    .navs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
     }
     .navs .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
     }
     .logos img {
        margin-left: 0;
        width: 50px;
     }
     .up{
        font-size: 12px;
        color: #2C6682;
     }
     
     .menus .nav {
        display: none;
     }
     .menus nav li{
        list-style-type: none;
     }
     .menus nav li a {
        text-decoration: none;
        color: #2C6682;
        font-family: Poppins;
     }
     .menus nav li .log {
        display: inline-block;
        padding: 10px 15px;
        color: white;
        background-color: #2C6682;
        border-radius: 10px;
        margin-top: 10px;
     }
     
     .navs .menus:hover .nav{
        display: block;
        flex-direction: column;
        gap: 20px;
        color: #2C6682;
        padding: 10px;
     }
    
    .main .logo{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: -150px;
        padding: 0;
        border: 2px solid red;
    }
    hr{
        display: none;
    }
    .manage{
        margin: 0;
        font-size: 12px;
    }
     .main nav a{
        display: none;
     }
    button{
        display: none;
    }
    .hero{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .hero-content{
        padding: 0;
        width: 100%;
    }
    .hero-content h2{
        font-size: 20px;
    }
    .hero-content p{
        font-size: 10px;
    }
    .btn{
        padding: 8px 12px;
    }
    .groupimg{
        width: 100%;
    }
    .groupimg img{
        width: 100%;
        margin-top: 20px;
    }
    .service{
        font-size: 12px;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .vault{
        width: 100%;
        padding: 10px;
        margin: 0;
        margin-top: 20px;
        
    }
    .vault p{
        font-size: 12px;
    }
    .vault h3{
        font-size: 14px;
    }
    .readbtn{
        width: 100%;
        margin: 0;
        padding: 5px;
        margin-top: 10px;
        border-radius: 5px;
    }
    .readbtn img{
        width: 8%;
        margin-bottom: 0px;
        margin-left: -0.5px;
    }
    .icon5{
        width: 50%;
    }
    .about{
        width: 100%;
    }
    .about h3{
        font-size: 16px;
        
    }
    .para{
        text-align: center;
    }
    .about .para{
        font-size: 14px;
    }
    .txt{
        text-align: left;
        margin-bottom: 20px;
    }
    .foot{
        display: flex;
        flex-direction: column;
    }
    
    .sub3{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: start;
        width: 100%;
    }
    .sub2{
        align-items: start;
        flex-direction: column;
    }
    .connect2{
        margin-left: -40px;
        margin-bottom: 20px;
    }
    .connect4{
        margin-top: 20px;
    }
    .connect6{
        margin-left: -70px;
        margin-bottom: 20px;
    }
    .menu{
        font-size: 10px;
        margin-bottom: 40px;
    }
    .ham{
        display:none;
    }
    .para2{
        font-size: 16px;
        padding: 2px;
    }
    .adjust{
        width: 3%;
    }
    .readbtn{
        width: 50%;
        text-align: center;
        margin-left: 25%;
    }
    .connect6{
        margin-right: 65%;
    }
    .connect7{
        margin-right: 65%;
    }
}